.fundoLogin {
    background-image: url('https://ik.imagekit.io/wzpuksr6d/70a9eed729b9cb157e115e9772936b44.jpg?updatedAt=1716252063946.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }